<div class="component-interactive-card text-break">
	<div class="card card-interactive card-type-asset image-card">
		<a class="stretched-link" data-lfr-editable-id="01-link" data-lfr-editable-type="link" href="#"><span aria-hidden="true"></span></a>

		<div class="aspect-ratio card-item-first">
			<img alt="thumbnail" class="aspect-ratio-item aspect-ratio-item-center-middle aspect-ratio-item-flush aspect-ratio-item-vertical-flush object-fit-cover" data-lfr-editable-id="02-img" data-lfr-editable-type="image" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAAAXRSTlMAQObYZgAAAApJREFUCNdjYAAAAAIAAeIhvDMAAAAASUVORK5CYII=" />
		</div>

		<div class="card-body">
			<h3 class="card-title" data-lfr-editable-id="03-title" data-lfr-editable-type="text">
				Card Title example
			</h3>

			<p class="card-text" data-lfr-editable-id="04-content" data-lfr-editable-type="rich-text">
				This  an example of quick text to fill the body of the card with some content in order to present it properly in page. We hope you like it.
			</p>
		</div>
	</div>
</div>